<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="/static/css/main.css">

<body class="text-center">

<h1> BIENVENIDO A NUESTRA PÁGINA PRINCIPAL</h1>
    <div class="row">
        <div class="columna1">
            <div class="imagenes">
                <a href="http://127.0.0.1:5000/vulnerables">
                    <img src="/static/imagenes/UwU.jpg" alt="UCYWV" style="width:100%">
                    <div class="container">
                        <p>Usuarios Críticos y Webs Vuln</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="columna2">
            <div class="imagenes">
                <a href="http://127.0.0.1:5000/webvulnerable">
                    <img src="/static/imagenes/web-trafico-web.png" alt="wtv" style="width:100%">
                    <div class="container">
                        <p>Webs Vulnerables</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="columna3">
             <div class="imagenes">
                <a href="http://127.0.0.1:5000/ultimasVulnerabilidades">
                    <img src="/static/imagenes/top10owasp.jpg" alt="t10owasp" style="width:100%">
                    <div class="container">
                        <p>Top 10 Vulnerabilidades</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="columna4">
            <div class="imagenes">
                <a href="http://127.0.0.1:5000/obtenerservicios">
                    <img src="/static/imagenes/services.jpg" alt="services" style="width:100%">
                    <div class="container">
                        <p>Proveedor de Servicios</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>

</html>