<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="/static/css/main.css">

<body class="text-center">
    {% block body %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

<h1> BIENVENIDO A NUESTRA PÁGINA PRINCIPAL</h1>
    <div class="row">
        <div class="column" style="background-color:#aaa;">
            <p><form action="http://127.0.0.1:5000/vulnerables"><input type="submit" value="TOP usuarios y Webs"></form></p>
        </div>
        <div class="column" style="background-color:#bbb;">
            <p><form action="http://127.0.0.1:5000/webvulnerables"><input type="submit" value="WebsVulns" /></form></p>
        </div>
        <div class="column" style="background-color:#ccc;">
            <p><form action="http://127.0.0.1:5000/ultimasVulnerabilidades"><input type="submit" value="ultimasVulns" /></form></p>
        </div>
        <div class="column" style="background-color:#aaa;">
            <p><form action="http://127.0.0.1:5000/obtenerservicios"><input type="submit" value="Servicios" /></form></p>
        </div>
    </div>
</body>

</html>