<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="/static/css/servicios.css">

<head>
    <meta charset="UTF-8">
</head>
<body>
    <p><button2 class="backbutton" onclick="history.back()"><span>Volver Atrás</span></button2></p>
    <h1>Aquí podrás consultar los servicios que desees</h1>
    <form method="GET">
              <p>
              <label> Servicio a buscar</label>
              <input type="text" name="servicio" placeholder="p.e. {{servicio}}" required><br>
              <br>
              <input type="submit" name="submit">
              </p>
            </form>
    <ol start="1">
    {% for element in lista %}
    <li class=""><a href="#">{{ element }}</a></li>
    {% endfor %}
    </ol>
</body>
</html>