
<link rel="stylesheet" href="/static/css/ultimasVulns.css">
<body>
<p><button2 class="backbutton" onclick="history.go(-1)"><span>Volver Atrás</span></button2></p>
<h1>Aquí podrás ver las 10 últimas vulnerabilidades en tiempo real </h1>
 {% autoescape off %}
<div style="overflow-x:auto;">
<table style="width: 100%">{{ lista }}</table>
</div>
 {% endautoescape %}
<input type="button" id="btnExport" value="Descargar Tabla" onclick="Export()" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script type="text/javascript">
        function Export() {
            html2canvas(document.getElementsByClassName('dataframe'), {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        pageOrientation: 'landscape',
                        content: [{
                            image: data,
                            width: 750,
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("Vulnerabilidades.pdf");
                }
            });
        }
    </script>
</body>
