<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="/static/css/webvulnerables.css">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
</head>
<body>
    <p><button2 class="backbutton" onclick="history.back()"><span>Volver Atrás</span></button2></p>
    <h1>Aquí podrás ver la cantidad de Webs Vulnerables que existen</h1>
    <form method="GET">
        <p>
        <label> Nº de Webs a mostrar</label>
        <input type="number" name="value" value="{{value}}" required><br>
        <br>
        <input type="submit" name="submit">
        </p>
      </form>

    <div id="bloque_grafico" style="width: 100%;text-align: left;"></div>
      <script type="text/javascript">
          var par = {{grafico | safe}};
          var opt = {"renderer": "canvas", "actions": false};  /* Options for the embedding */
          vegaEmbed("#bloque_grafico", par, opt);
      </script>

</body>
</html>