html,
* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

.columna1 {
  background: transparent;
  float: left;
  width: 25%;
  padding: 10px;
  height: 100px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
}
.columna2 {
  background: transparent;
  float: left;
  width: 25%;
  padding: 10px;
  height: 100px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
}
.columna3 {
  background: transparent;
  float: left;
  width: 25%;
  padding: 10px;
  height: 100px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
}
.columna4 {
  background:transparent;
  float: left;
  width: 25%;
  padding: 10px;
  height: 100px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

div.imagenes{
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container{
  text-align: center;
  padding: 10px 20px;
}

a:link, a:visited, a:active {
    text-decoration:none;
    text-align: center;
    color:black;
}
